<nav class="navbar navbar-light bg-light">
  <span class="navbar-brand mb-0 h1">Navbar</span>

  <ul class="nav">
    <li class="nav-item">
      <a class="nav-link active" href="/articles/getSaved">See Saved Articles</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" href="/">Go Back to Main Page</a>
    </li>
  </ul>
</nav>



<div>
  {{#each results}}
    {{> articles/article}}
    {{!-- <h1>{{title}}</h1> --}}
  {{/each}}
</div>