<div class="card">
  <div class="card-body">
    <h5 class="card-title">
      <img class="article-image" style="width: 50px; height: auto;" src={{img}}>
      {{title}}
    </h5>
    <h6 class="card-subtitle mb-2 text-muted">
      {{tagline}}
    </h6>
    <a href={{link}} class="btn btn-primary">Go to site</a>
    <a class="btn btn-secondary saveArticle">Save Article</a>
  </div>
</div>